<div class="row">
  <div class="col">
    Hello, World
  </div>
  <div class="col">
    <span><%= link "Events", to: Routes.event_path(@conn, :index) %></span>
  </div>
  <div class="col">
    <span><%= link "Users", to: Routes.user_path(@conn, :index) %></span>
  </div>
</div>